.product-detail-imgcontainer > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.product-detail-imgcontainer {
  margin-bottom: 15px;
}

.productDetails-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.productDetails-checkout {
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #e6e6e6;
  margin-top: 15px;
  margin-bottom: 15px;
}

.productDetails-checkout > div {
  display: flex;
  justify-content: space-between;
}

.productDetails-checkout > footer {
  display: flex;
  justify-content: flex-end;
}
